[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pdfkit = "*"
lxml = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.7"
